<h3>LOGIN</h3>

<form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" id="" placeholder="Nombre de Usuario">
        <br>
        <input type="password" name="password" id="" placeholder="Contraseña">
        <button type="submit">Iniciar Sesión</button>
</form>

<!--
DROP TABLE AUTH_GROUP CASCADE CONSTRAINTS;
DROP TABLE AUTH_GROUP_PERMISSIONS CASCADE CONSTRAINTS;
DROP TABLE AUTH_PERMISSION CASCADE CONSTRAINTS;
DROP TABLE AUTH_USER CASCADE CONSTRAINTS;
DROP TABLE AUTH_USER_GROUPS CASCADE CONSTRAINTS;
DROP TABLE AUTH_USER_USER_PERMISSIONS CASCADE CONSTRAINTS;
DROP TABLE DJANGO_ADMIN_LOG CASCADE CONSTRAINTS;
DROP TABLE DJANGO_CONTENT_TYPE CASCADE CONSTRAINTS;
DROP TABLE DJANGO_MIGRATIONS CASCADE CONSTRAINTS;
DROP TABLE DJANGO_SESSION CASCADE CONSTRAINTS;
DROP TABLE CORE_REGISTRO CASCADE CONSTRAINTS;
DROP TABLE CORE_SESION CASCADE CONSTRAINTS;

SELECT * FROM CORE_CUENTA;
 -->