<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap" rel="stylesheet">
    <title>The Forest Wiki</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Estilo propio de CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
    <!-- Favicon -->
    <link rel="icon" type="image/jpg" href="{% static 'core/img/favicon/favicon.webp' %}" />
</head>

<body>
    <!-- Menú de navegación -->
    <nav class="navbar d-flex justify-content-between align-items-center">
        <!-- Menú hamburguesa y enlaces -->
        <div class="nav-left d-flex align-items-center">
            <!-- Checkbox oculto para el menú hamburguesa -->
            <input type="checkbox" id="menu-toggle" class="menu-toggle">
            <!-- Botón de menú hamburguesa -->
            <label for="menu-toggle" class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <!-- Lista de navegación -->
            <!-- Lista de navegación -->
            <ul class="nav-list d-flex align-items-center">
                <li class="menu"><a href="{% url 'home' %}">Inicio</a></li>
                <li class="menu"><a href="{% url 'error_404' %}">Foro</a></li>
                <li class="menu"><a href="{% url 'error_404' %}">Dirección</a></li>
                <li class="menu"><a href="{% url 'error_404' %}">Registrarse</a></li>
                <li class="menu"><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                <li class="menu"><a href="{% url 'error_404' %}">Mi Cuenta</a></li>
            </ul>
            <form class="d-flex" id="separar-derecha">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </nav>

    <!-- Selector de imagenes -->
    <div class="container my-15">
        <div class="slider-wrapper position-relative">
            <div class="slider animate-up">
                <div class="slide">
                    <img src="{% static 'core/img/home/slice/img-3.jpg' %}" alt="Imagen 1"
                        class="slider-image img-fluid w-75">
                </div>
                <div class="slide">
                    <img src="{% static 'core/img/home/slice/img-1.png' %}" alt="Imagen 1"
                        class="slider-image img-fluid w-75">
                </div>
                <div class="slide">
                    <img src="{% static 'core/img/home/slice/img-2.jpg' %}" alt="Imagen 2"
                        class="slider-image img-fluid w-75">
                </div>
            </div>

            <!-- Flechas para cambiar de imagen -->
            <div class="slider-nav animate-up d-none d-md-flex">
                <span class="prev">&#10094;</span>
                <span class="next">&#10095;</span>
            </div>

            <!-- Puntos/botones para cambiar de imagen -->
            <div class="dots animate-up d-flex justify-content-center">
                <span class="dot active" data-index="0"></span>
                <span class="dot" data-index="1"></span>
                <span class="dot" data-index="2"></span>
            </div>
        </div>
    </div>

<!-- Contenido principal -->
<div class="body-content container py-5 py-md-50">
    <!--<h1 class="animate-up">The Forest Wiki</h1>-->
    <img src="{% static 'core/img/home/site-logo.png' %}" alt="Img Logo" class="animate-breathing img-fluid w-1">

    <!-- 🔥 Caja estilizada -->
    <div class="forest-intro animate-up">
        <p>
            ¿Te gusta <span class="resaltado">The Forest</span>? Pues estás en la página correcta. <br>
            Aquí en <span class="resaltado">The Forest Wiki</span> encontrarás todo lo que necesitas 
            saber sobre el juego, desde guías y trucos hasta información sobre los personajes y la historia. <br>
            <strong>¡Explora y descubre todo lo que necesitas!</strong>
        </p>
    </div>

    <a href="https://store.steampowered.com/app/242760/The_Forest/" class="btn-buy-game animate-up">Comprar Juego</a> 

</div>


    <!-- Categorias con contenido -->
    <div class="container my-5">
        <div class="body-content container py-3 py-md-50">
            <h2 class="forest-title animate-up">Contenido de <br>The Forest</h2>
        </div>
        <!-- Caja de Categoría 1 -->
        <div class="row align-items-center category-box box mb-4">
            <!-- Imagen a la izquierda -->
            <div class="col-md-4">
                <img src="{% static 'core/img/home/categories/animals-logo.png' %}" alt="Categoría Animales" 
                    class="animate-up img-fluid rounded w-75">
            </div>
            <!-- Texto a la derecha -->
            <div class="col-md-8">
                <h3>Animales</h3>
                <p>
                    La península de El Bosque está habitada por una gran variedad de animales. 
                    Estos animales se convierten en una parte esencial de la supervivencia del jugador, 
                    ya que algunos pueden ser cazados para obtener alimento, piel u otros materiales de artesanía.
                </p>
                <a href="{% url 'animales' %}" class="btn btn-primary">Leer más</a>
            </div>
        </div>

        <!-- Caja de Categoría 2 -->
        <div class="row align-items-center category-box box mb-4">
            <div class="col-md-4">
                <img src="{% static 'core/img/home/categories/map-logo.png' %}" alt="Categoría Mapa"
                class="animate-up img-fluid rounded w-75">
            </div>
            <div class="col-md-8">
                <h3>Mapa</h3>
                <p>
                    El Mapa es una herramienta que ayuda al jugador a navegar tanto por 
                    encima como por debajo del suelo en El Bosque. Comienza en blanco y se rellena a mano al explorar.
                </p>
                <a href="{% url 'mapa' %}" class="btn btn-primary">Leer más</a>
            </div>
        </div>

        <!-- Caja de Categoría 3 -->
        <div class="row align-items-center category-box box mb-4">
            <div class="col-md-4">
                <img src="{% static 'core/img/home/categories/cannibals-logo.png' %}" alt="Categoría Enemigos"
                class="animate-up img-fluid rounded w-75">
            </div>
            <div class="col-md-8">
                <h3>Enemigos</h3>
                <p>
                    El Bosque no es un lugar seguro, en el habitan criaturas hostiles que intentarán acabar contigo 
                    y que te obligarán a defenderte. Armate lo mejor para enfrentar a los caníbales y mutantes.  
                </p>
                <a href="{% url 'enemigos' %}" class="btn btn-primary">Leer más</a>
            </div>
        </div>

        <!-- Caja de Categoría 4 -->
        <div class="row align-items-center category-box box mb-4">
            <div class="col-md-4">
                <img src="{% static 'core/img/home/categories/construccion.png' %}" alt="Categoría Construccion"
                class="animate-up img-fluid rounded w-75">
            </div>
            <div class="col-md-8">
                <h3>Construcciones</h3>
                <p>
                    Las construcciónes es una parte esencial de la supervivencia en The Forest. 
                    Te permite crear refugios, trampas y otras estructuras que te ayudarán a sobrevivir en el bosque.
                </p>
                <a href="{% url 'construcciones' %}" class="btn btn-primary">Leer más</a>
            </div>
        </div>

        <!-- Caja de Categoría 5 -->
        <div class="row align-items-center category-box box mb-4">
            <div class="col-md-4">
                <img src="{% static 'core/img/home/categories/plantas.png' %}" alt="Categoría Plantas"
                class="animate-up img-fluid rounded w-75">
            </div>
            <div class="col-md-8">
                <h3>Plantas</h3>
                <p>
                    El Bosque está lleno de plantas y vegetación que pueden ser útiles para el jugador. 
                    Algunas plantas son comestibles y otras no, mientras que otras pueden ser utilizadas para crear medicinas o trampas.
                </p>
                <a href="{% url 'plantas' %}" class="btn btn-primary">Leer más</a>
            </div>
        </div>

        <!-- Caja de Categoría 6 -->
        <div class="row align-items-center category-box box mb-4">
            <div class="col-md-4">
                <img src="{% static 'core/img/home/categories/armas.png' %}" alt="Categoría Armas"
                class="animate-up img-fluid rounded w-75">
            </div>
            <div class="col-md-8">
                <h3>Armas</h3>
                <p>
                    Crea armas para defenderte de los enemigos que te atacaran por el dia o la noche.
                    Hay una gran variedad de armas que puedes crear, desde armas cuerpo a cuerpo o a distancia.
                </p>
                <a href="{% url 'armas' %}" class="btn btn-primary">Leer más</a>
            </div>
        </div>

        <!-- Caja de Categoría 7 -->
        <div class="row align-items-center category-box box mb-4">
            <div class="col-md-4">
                <img src="{% static 'core/img/home/categories/consumibles.png' %}" alt="Categoría Armas"
                class="animate-up img-fluid rounded w-75">
            </div>
            <div class="col-md-8">
                <h3>Consumibles</h3>
                <p>
                    Los consumibles son elementos que puedes usar para mejorar tu salud, energía o resistencia. 
                    Algunos consumibles son comestibles y otros son bebidas. 
                    También hay consumibles que puedes usar para curarte o mejorar tus habilidades.
                </p>
                <a href="{% url 'consumibles' %}" class="btn btn-primary">Leer más</a>
            </div>
        </div>

        <!-- Caja de Categoría 8 -->
        <div class="row align-items-center category-box box mb-4">
            <div class="col-md-4">
                <img src="{% static 'core/img/home/categories/historia.png' %}" alt="Categoría Armas"
                class="animate-up img-fluid rounded w-75">
            </div>
            <div class="col-md-8">
                <h3>Historia</h3>
                <p>
                    Enterate de esta fascinante historia que nos ofrece el juego,
                    desde el accidente de avión hasta la llegada a la isla.
                </p>
                <a href="{% url 'historia' %}" class="btn btn-primary">Leer más</a>
            </div>
        </div>
    </div>

    <!-- Pie de página (Usamos Bootstrap para la responsividad) -->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center">
                <!-- Columna Izquierda -->
                <div class="col-md-6 text-center text-md-start">
                    <div class="footer-brand">
                        <span>The Forest Wiki</span>
                    </div>
                    <p class="footer-text">
                        Recopilando información esencial desde 2025.
                    </p>
                    <div class="social-links">
                        <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <!-- Columna Derecha -->
                <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
                    <ul class="footer-links">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="{% url 'error_404' %}">Categorías</a></li>
                        <li><a href="{% url 'error_404' %}">Contacto</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright text-center">
                © 2025 The Forest Wiki. Todos los derechos reservados.
            </div>
        </div>
    </footer>

    <!-- Enlazar nuestros scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="{% static 'core/js/app.js' %}"></script>
    <script src="{% static 'core/js/scroll.js' %}"></script>
    <!--<script src="scripts/auth.js"></script>-->

</body>

</html>