<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rationale&display=swap" rel="stylesheet">
    <title>Login - The Forest Wiki</title>
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Rationale&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Estilo propio de CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <!-- Favicon -->
    <link rel="icon" type="image/jpg" href="{% static 'core/img/favicon/favicon.webp' %}" />
</head>

<body>
    <!-- Menú de navegación -->
    <nav class="navbar d-flex justify-content-between align-items-center">
        <!-- Menú hamburguesa y enlaces -->
        <div class="nav-left d-flex align-items-center">
            <!-- Checkbox oculto para el menú hamburguesa -->
            <input type="checkbox" id="menu-toggle" class="menu-toggle">
            <!-- Botón de menú hamburguesa -->
            <label for="menu-toggle" class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <!-- Lista de navegación -->
            <ul class="nav-list d-flex align-items-center">
                <li class="menu"><a href="{% url 'home' %}">Inicio</a></li>
                <li class="menu"><a href="{% url 'error_404' %}">Foro</a></li>
                <li class="menu"><a href="https://www.google.com/maps/place/R%C3%ADo+Imperial+460,+Valle+Grande,+Lampa,+Regi%C3%B3n+Metropolitana/@-33.3295809,-70.751195,17z/data=!3m1!4b1!4m5!3m4!1s0x9662bf62531dc747:0xc0b4aee73c3b9373!8m2!3d-33.3295854!4d-70.7490063?hl=es-CL">Dirección</a></li>
                <li class="menu"><a href="{% url 'error_404' %}">Registrarse</a></li>
                <li class="menu"><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                <li class="menu"><a href="{% url 'error_404' %}">Mi Cuenta</a></li>
                <form class="d-flex d-none d-md-flex" id="separar-derecha">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </ul>
        </div>
    </nav>

    <!-- Contenido del Inicio de Sesión -->
    <div class="body-content container-fluid">
        <div class="row">
            <!-- Imagen de fondo izquierda -->
            <div class="col-md-6 d-none d-md-block"style="background: url('{% static 'core/img/background/Fondo1.png' %}') no-repeat center center; background-size: cover; height: 100vh;">
                <img src="{% static 'core/img/home/site-logo.png' %}" alt="Img Logo" class="site-logo animate-breathing img-fluid w-5 mx-auto mt-5">
            </div>
            <!-- Formulario de login derecha -->
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-center" style="min-height: 100vh;">
                <!-- Aquí coloca tu formulario de login -->
                <form id="loginForm" class="w-50" method="post" action="{% url 'login' %}">
                    <h1 class="mb-4">¡Bienvenido Ingresa tu Usuario!</h1>
                    <!-- Contenedor de mensajes -->
                    <div id="loginMessage"></div>
                    <div class="mb-3 text-start">
                        <label for="username" class="form-label">Email</label>
                        <input type="text" class="form-control" id="username" placeholder="correo@gmail.com">
                    </div>
                    <div class="mb-3 text-start">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" placeholder="Ingresa tu contraseña">
                    </div>
                    <div class="form-check text-start mb-3">
                        <input type="checkbox" class="form-check-input" id="showPassword">
                        <label class="form-check-label" for="showPassword">Mostrar contraseña</label>
                        <a href="{% url 'error_404' %}" class="ms-2" style="color: rgb(77, 77, 77); text-decoration: none;">
                            ¿Has olvidado tu contraseña?
                        </a>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Pie de página (Usamos Bootstrap para la responsividad) -->
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center">
                <!-- Columna Izquierda -->
                <div class="col-md-6 text-center text-md-start">
                    <div class="footer-brand">
                        <span>The Forest Wiki</span>
                    </div>
                    <p class="footer-text">
                        Recopilando información esencial desde 2025.
                    </p>
                    <div class="social-links">
                        <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
                        <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <!-- Columna Derecha -->
                <div class="col-md-6 d-flex justify-content-center justify-content-md-end">
                    <ul class="footer-links">
                        <li><a href="#">Inicio</a></li>
                        <!--<li><a href="{% url 'error_404' %}">Categorías</a></li>-->
                        <li><a href="https://www.google.com/maps/place/R%C3%ADo+Imperial+460,+Valle+Grande,+Lampa,+Regi%C3%B3n+Metropolitana/@-33.3295809,-70.751195,17z/data=!3m1!4b1!4m5!3m4!1s0x9662bf62531dc747:0xc0b4aee73c3b9373!8m2!3d-33.3295854!4d-70.7490063?hl=es-CL">Dirección</a></li>
                    </ul>
                </div>
            </div>
            <div class="copyright text-center">
                © 2025 The Forest Wiki. Todos los derechos reservados.
            </div>
        </div>
    </footer>

    <!-- Enlazar nuestros scripts -->
    <script>
        const homeUrl = "{% url 'home' %}";
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="{% static 'core/js/app.js' %}"></script>
    <script src="{% static 'core/js/scroll.js' %}"></script>
    <script src="{% static 'core/js/auth.js' %}"></script>
</body>

</html>