html, body {
    font-family: "Rationale", sans-serif;
    font-size: 1.15em;
    font-weight: 500;
    font-style: normal;
    margin: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

/*
============================
 Diseño de la barra lateral
============================
*/

/* Para navegadores basados en WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
    width: 6px; /* Ancho de la barra vertical, "finita" */
    height: 6px; /* Alto de la barra horizontal */
}

::-webkit-scrollbar-track {
    background: transparent; /* Sin fondo blanco */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: gold; /* Color naranja */
    border-radius: 10px;
    border: none;
}

/* Para Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: gold transparent;
}

:root {
    --rojo: #ffc400;
    --fondo: rgb(17, 6, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#fuente {
    color: var(--rojo);
    font-size: 30px;
    padding-left: 20px;
}

#separarsearch {
    padding-right: 20px;
}

.comentarios {
    margin: 20px 0;
}

.form_comentarios textarea {
    width: 100%;
    height: 84px;
    max-width: 100%;
    min-width: 100%;
    min-height: 84px;
    max-height: 300px;
    padding: 10px;
    line-height: 30px;
    border: 2px solid #024605;
    margin-bottom: 20px;

}

.form_comentarios .btn {
    background: linear-gradient(90deg, #024605, #031f0e, #020803);
    border: 1px solid gold;
    border-radius: 0;
    color: #E0C066;
    margin-bottom: 20px;
}

.form_comentarios .btn:hover {
    box-shadow: 0px 0px 9px rgb(28, 219, 108);

}

.media {
    border-top: 2px solid #8b4206;
    padding-top: 20px;
}

.media img {
    margin-right: 20px;
}

.media .nombre {
    color: #E0C066;
    margin-bottom: 0;
}

.media .nombre span {
    font-size: 12px;
    color: #E0C066;
    margin-left: 10px;

}

.media .comentario {
    margin-top: 10px;
    color: #E0C066;
}

.media .botones {
    margin-bottom: 10px;
}

.media .botones a {
    color: #E0C066;
    font-size: 14px;
    margin-left: 20px;

}

img {
    width: 64px;
    height: 64px;

}


#fondo1 {
    background-color: rgb(17, 6, 1);
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
=======================================
 Diseño general del menu de navegación
=======================================
*/

/* Navegación */
.menu-toggle {
    display: none;
}

/* Estilo del icono del menu en la esquina izquierda */
.menu-icon {
    display: block;
    position: fixed;
    top: 13px;
    left: 13px; /* Poscicion del icono hacia la izquierda */
    width: 33px; /* Ancho para acomodar las 3 barras */
    height: 24px; /* Alto para acomodar las barras con espacio */
    cursor: pointer;
    z-index: 200; /* Nos aseguramos que este por encima del menu */
}

/* Las 3 barras dentro del icono */
.menu-icon span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: gold; /* Color original de las barras */
    border-radius: 3px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease, background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    transform-origin: 4px 0px;
}

/* Esto ajusta el origen de la primera y la tercera barra */
.menu-icon span:first-child {
    transform-origin: 0% 0%;
}

.menu-icon span:nth-child(3) {
    transform-origin: 0% 100%;
}

/* Convierte las barras en una X al darle click */
.menu-toggle:checked + .menu-icon span:first-child {
    transform: rotate(45deg) translate(-3px, -1px);
    background: #ffffff;
}

.menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-toggle:checked + .menu-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(-2px, -0.5px);
    background: #ffffff;
}

/* Estilo del navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: rgb(17, 6, 1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 25px 0;
}

/* Reglas base: para móviles (menú hamburguesa) */
.navbar ul {
    position: fixed;
    top: 0;
    left: -100%; /* Fuera de la pantalla */
    width: 250px; /* Ancho fijo, ajústalo según tus necesidades */
    height: 100%; /* Ocupa la altura completa */
    background: linear-gradient(to bottom, rgba(255, 187, 0, 0.7), rgb(255, 208, 0));
    padding: 20px 0;
    display: flex;
    flex-direction: column; /* Los ítems se apilan verticalmente */
    justify-content: flex-start;
    transition: left 0.3s ease;
    margin: 0;
    list-style: none;
}

.navbar ul li {
    margin: 0 15px; /* Ajusta la distancia entre categorias */
}

/* Cuando el checkbox esta marcado desplaza el menu a la vista dandole un efecto como de desplazamiento */
.menu-toggle:checked ~ ul {
    left: 0;
}

/* Estilos para los subvinculos dentro del menu (se aplican a todas las opciones) */
.navbar ul li a {
    color: rgb(255, 255, 255);
    padding: 5px 0px;
    width: 100%;
    margin: 5px auto; /* Centra el elemento */
    text-decoration: none;
    display: block;
    transition: background 0.3s ease;
    position: relative;
    border-radius: 7px;
}

/* Animacion al pasar el mouse por una categoria con subvinculo dentro del menu */
.navbar ul li a::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(255, 196, 0, 0.7); /* Color de la línea */
    transition: transform 0.5s ease;
    transform: scale3d(0, 1, 1);
    transform-origin: 50% 50%;
}

/* Animacion al pasar el mouse aparece la línea */
.navbar ul li a:hover::before {
    transform: scale3d(1, 1, 1);
}

/* Efecto para la opcion activada si el enlace tiene la clase "active" la linea se muestra */
.navbar ul li a.active::before {
    transform: scale3d(1, 1, 1);
}

.logout-link {
    color: #fff;
    padding: 5px 0px;
    margin: 5px auto;
    text-decoration: none;
    display: block;
    transition: background 0.3s ease;
    position: relative;
    border-radius: 7px;
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
}

.logout-link::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(255, 196, 0, 0.7);
    transition: transform 0.5s ease;
    transform: scale3d(0, 1, 1);
    transform-origin: 50% 50%;
}

.logout-link:hover::before {
    transform: scale3d(1, 1, 1);
}

#separarsearch {
    padding-right: 20px;
}

:root {
    --rojo: #ffc400;
    --fondo: #1414148c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
================================
 Diseño del footer de la pagina
================================
*/

.footer {
    background: rgb(17, 6, 1);
    padding: 40px 0 20px;
    border-top: 1px solid rgb(15, 3, 3);
    bottom: 100px;
}

.footer-brand {
    font-family: 'Arial', sans-serif;
    color: gold;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
    max-width: 320px;
}

.footer-text {
    color: #ffffff;
    font-size: 0.9rem;
    /*max-width: 300px;*/
}

.social-links {
    margin: 20px 0;
}

.social-link {
    color: #ffffff;
    margin-right: 20px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #E0C066;
}

.footer-links {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #E0C066;
}

.copyright {
    color: #ffffff;
    font-size: 0.85rem;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(63, 63, 63, 0.466);
}

/*
=======================================================
 Cambio de diseño al abrir la pagina con un dispositvo
      movil, tablets o un computador de escritorio
=======================================================
*/

/* Para dispositivos de escritorio y tabletas grandes */
@media (min-width: 768px) {
    /* Ocultamos el checkbox y el icono hamburguesa */
    .menu-toggle,
    .menu-icon {
        display: none !important;
    }

    /* La lista de navegación se posiciona de forma normal */
    .nav-list {
        position: static; /* Deja de estar fixed */
        background: none;
        flex-direction: row; /* Asegura un orden horizontal */
        /* Opcional: quitar transición o top */
        top: 0;
        left: 0;
        width: auto;
        padding: 0;
        margin: 0;
    }

    /* Hacer que el contenedor izquierdo se expanda y centre su contenido */
    .nav-left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Sobrescribir las reglas de la lista para que se muestre normalmente */
    .navbar ul {
        position: static !important;
        top: auto !important;
        left: auto !important;
        background: none !important;
        width: auto !important;
        padding: 0 !important;
        margin: 0 !important;
        display: flex;
        flex-direction: row;
        transition: none !important;
    }

    .navbar ul li {
        margin: 0 15px;
    }

    .navbar {
        padding: 5px 0;
    }

    /* Los ítems del menú se muestran con márgenes normales */
    .nav-list li {
        margin: 0 15px;
    }
}

/* Ajustes para pantallas tablet y moviles grandes */
@media (max-width: 420px) {
    .nav-left {
        flex-direction: column;
        align-items: center; /* O ajustar según necesites */
    }

    .nav-list {
        width: 100%;
        margin-bottom: 10px;
        justify-content: center;
    }

    #separar-derecha {
        width: 90%;
        left: 10%;
    }

    /* Opcional: Si quieres separar más el formulario del menú */
    #separar-derecha {
        margin-top: 50px;
    }

    .body-content {
        display: block !important;
        order: initial !important;
        color: white;
        padding: 10px;
        text-align: center;
        margin-top: 50px;
        flex: 1;
    }
}


/* Color de la fecha y hora de las publicaciones */
.text-muted {
    color: #1d62ff !important;
}

/* Transicion para el dropdown de los comentarios */
button[data-bs-toggle="collapse"] .fa-chevron-down {
    transition: transform .3s ease;
}

button[aria-expanded="true"] .fa-chevron-down {
    transform: rotate(180deg);
}

/* Ajustes para los hover de los botones */
.reply-btn {
    transition: background-color .2s, border-color .2s;
}

.reply-btn:hover {
    background-color: #1d7731; /* verde más oscuro */
    border-color: #165d26;
}

.edit-btn {
    transition: background-color .2s, border-color .2s;
}

.edit-btn:hover {
    background-color: #0057b6; /* azul más oscuro */
    border-color: #004796;
}

.delete-btn {
    transition: background-color .2s, border-color .2s;
}

.delete-btn:hover {
    background-color: #941b26;
    border-color: #70131a;
}

h2 {
    color: #E0C066;
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
}

.external-posts {
    padding-bottom: 2rem;
}

.external-post-item {
    display: flex;
    background-color: rgba(0, 0, 0, 0.83);
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
    border: 3px solid rgba(255, 255, 255, 0.2);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
    text-decoration: none;
    flex-direction: column;
}

.external-post-item small {
  margin-top: auto;
  align-self: flex-start;
  text-align: left;
  font-size: 0.85rem;
}

.external-post-item:hover,
.external-post-item:focus {
    transform: translateY(-3px);
    box-shadow: 0 0 0 1px rgba(243, 196, 50, 0.2),
    0 6px 12px rgba(0, 0, 0, 0.4);
    background-color: #23272a;
    color: #ffc107;
}

.external-post-item h5 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.external-post-item small {
    font-size: 0.85rem;
    opacity: 0.8;
}

.external-posts .list-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
}

.external-posts > .btn {
    display: block;
    margin: 2rem auto 0;
    width: 200px;
}

.external-posts .list-group > .external-post-item {
    border-top-width: 3px !important;
}

.grid-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 5rem;
}